.main-body{
    background-color: brown;
    padding: 0;
    position: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.second-body{
    align-items: center;
    flex-direction: row;
    font-size: medium;
}
.text{
    font-size: 50px;
    color: darkblue;
}
.first-parent{
    display: flex ;
    flex-direction: row;
}
.btn{
    padding: 10px;
    color: blue;
    background-color: yellow;
}
.image{
    position: center;
    padding: 5px;
    margin-top: 50px;
    margin-right: 50px;
}